.vs/SpaceStation01/v15/Server/
Library/metadata/
Library/ShaderCache/
.vs/
Speis.CSharp.Editor.csproj
Speis.CSharp.csproj
Speis.sln
Temp/
Library/UnityAssemblies/SyntaxTree.VisualStudio.Unity.Bridge.dll
Library/UnityAssemblies/SyntaxTree.VisualStudio.Unity.Bridge.xml
Library/UnityAssemblies/UnityEditor.Advertisements.dll
Library/UnityAssemblies/UnityEditor.Advertisements.xml
Library/UnityAssemblies/UnityEditor.Analytics.dll
Library/UnityAssemblies/UnityEditor.Analytics.xml
Library/UnityAssemblies/UnityEditor.GoogleAudioSpatializer.dll
Library/UnityAssemblies/UnityEditor.GoogleAudioSpatializer.xml
Library/UnityAssemblies/UnityEditor.Graphs.dll
Library/UnityAssemblies/UnityEditor.Graphs.xml
Library/UnityAssemblies/UnityEditor.HoloLens.dll
Library/UnityAssemblies/UnityEditor.HoloLens.xml
Library/UnityAssemblies/UnityEditor.Networking.dll
Library/UnityAssemblies/UnityEditor.Networking.xml
Library/UnityAssemblies/UnityEditor.Purchasing.dll
Library/UnityAssemblies/UnityEditor.Purchasing.xml
Library/UnityAssemblies/UnityEditor.SpatialTracking.dll
Library/UnityAssemblies/UnityEditor.SpatialTracking.xml
Library/UnityAssemblies/UnityEditor.TestRunner.dll
Library/UnityAssemblies/UnityEditor.TestRunner.xml
Library/UnityAssemblies/UnityEditor.Timeline.dll
Library/UnityAssemblies/UnityEditor.Timeline.xml
Library/UnityAssemblies/UnityEditor.TreeEditor.dll
Library/UnityAssemblies/UnityEditor.TreeEditor.xml
Library/UnityAssemblies/UnityEditor.UI.dll
Library/UnityAssemblies/UnityEditor.UI.xml
Library/UnityAssemblies/UnityEditor.UIAutomation.dll
Library/UnityAssemblies/UnityEditor.UIAutomation.xml
Library/UnityAssemblies/UnityEditor.VR.dll
Library/UnityAssemblies/UnityEditor.VR.xml
Library/UnityAssemblies/UnityEditor.WindowsStandalone.Extensions.dll
Library/UnityAssemblies/UnityEditor.WindowsStandalone.Extensions.xml
Library/UnityAssemblies/UnityEditor.dll
Library/UnityAssemblies/UnityEditor.xml
Library/UnityAssemblies/UnityEngine.AIModule.dll
Library/UnityAssemblies/UnityEngine.AIModule.xml
Library/UnityAssemblies/UnityEngine.ARModule.dll
Library/UnityAssemblies/UnityEngine.ARModule.xml
Library/UnityAssemblies/UnityEngine.AccessibilityModule.dll
Library/UnityAssemblies/UnityEngine.AccessibilityModule.xml
Library/UnityAssemblies/UnityEngine.Analytics.dll
Library/UnityAssemblies/UnityEngine.Analytics.xml
Library/UnityAssemblies/UnityEngine.AnimationModule.dll
Library/UnityAssemblies/UnityEngine.AnimationModule.xml
Library/UnityAssemblies/UnityEngine.AudioModule.dll
Library/UnityAssemblies/UnityEngine.AudioModule.xml
Library/UnityAssemblies/UnityEngine.ClothModule.dll
Library/UnityAssemblies/UnityEngine.ClothModule.xml
Library/UnityAssemblies/UnityEngine.ClusterInputModule.dll
Library/UnityAssemblies/UnityEngine.ClusterInputModule.xml
Library/UnityAssemblies/UnityEngine.ClusterRendererModule.dll
Library/UnityAssemblies/UnityEngine.ClusterRendererModule.xml
Library/UnityAssemblies/UnityEngine.CoreModule.dll
Library/UnityAssemblies/UnityEngine.CoreModule.xml
Library/UnityAssemblies/UnityEngine.CrashReportingModule.dll
Library/UnityAssemblies/UnityEngine.CrashReportingModule.xml
Library/UnityAssemblies/UnityEngine.DirectorModule.dll
Library/UnityAssemblies/UnityEngine.DirectorModule.xml
Library/UnityAssemblies/UnityEngine.GameCenterModule.dll
Library/UnityAssemblies/UnityEngine.GameCenterModule.xml
Library/UnityAssemblies/UnityEngine.GoogleAudioSpatializer.dll
Library/UnityAssemblies/UnityEngine.GoogleAudioSpatializer.xml
Library/UnityAssemblies/UnityEngine.GridModule.dll
Library/UnityAssemblies/UnityEngine.GridModule.xml
Library/UnityAssemblies/UnityEngine.HoloLens.dll
Library/UnityAssemblies/UnityEngine.HoloLens.xml
Library/UnityAssemblies/UnityEngine.IMGUIModule.dll
Library/UnityAssemblies/UnityEngine.IMGUIModule.xml
Library/UnityAssemblies/UnityEngine.ImageConversionModule.dll
Library/UnityAssemblies/UnityEngine.ImageConversionModule.xml
Library/UnityAssemblies/UnityEngine.InputModule.dll
Library/UnityAssemblies/UnityEngine.InputModule.xml
Library/UnityAssemblies/UnityEngine.JSONSerializeModule.dll
Library/UnityAssemblies/UnityEngine.JSONSerializeModule.xml
Library/UnityAssemblies/UnityEngine.Networking.dll
Library/UnityAssemblies/UnityEngine.Networking.xml
Library/UnityAssemblies/UnityEngine.ParticleSystemModule.dll
Library/UnityAssemblies/UnityEngine.ParticleSystemModule.xml
Library/UnityAssemblies/UnityEngine.ParticlesLegacyModule.dll
Library/UnityAssemblies/UnityEngine.ParticlesLegacyModule.xml
Library/UnityAssemblies/UnityEngine.PerformanceReportingModule.dll
Library/UnityAssemblies/UnityEngine.PerformanceReportingModule.xml
Library/UnityAssemblies/UnityEngine.Physics2DModule.dll
Library/UnityAssemblies/UnityEngine.Physics2DModule.xml
Library/UnityAssemblies/UnityEngine.PhysicsModule.dll
Library/UnityAssemblies/UnityEngine.PhysicsModule.xml
Library/UnityAssemblies/UnityEngine.Purchasing.dll
Library/UnityAssemblies/UnityEngine.Purchasing.xml
Library/UnityAssemblies/UnityEngine.ScreenCaptureModule.dll
Library/UnityAssemblies/UnityEngine.ScreenCaptureModule.xml
Library/UnityAssemblies/UnityEngine.SpatialTracking.dll
Library/UnityAssemblies/UnityEngine.SpatialTracking.xml
Library/UnityAssemblies/UnityEngine.SpriteMaskModule.dll
Library/UnityAssemblies/UnityEngine.SpriteMaskModule.xml
Library/UnityAssemblies/UnityEngine.StyleSheetsModule.dll
Library/UnityAssemblies/UnityEngine.StyleSheetsModule.xml
Library/UnityAssemblies/UnityEngine.TerrainModule.dll
Library/UnityAssemblies/UnityEngine.TerrainModule.xml
Library/UnityAssemblies/UnityEngine.TerrainPhysicsModule.dll
Library/UnityAssemblies/UnityEngine.TerrainPhysicsModule.xml
Library/UnityAssemblies/UnityEngine.TestRunner.dll
Library/UnityAssemblies/UnityEngine.TestRunner.xml
Library/UnityAssemblies/UnityEngine.TextRenderingModule.dll
Library/UnityAssemblies/UnityEngine.TextRenderingModule.xml
Library/UnityAssemblies/UnityEngine.TilemapModule.dll
Library/UnityAssemblies/UnityEngine.TilemapModule.xml
Library/UnityAssemblies/UnityEngine.Timeline.dll
Library/UnityAssemblies/UnityEngine.Timeline.xml
Library/UnityAssemblies/UnityEngine.UI.dll
Library/UnityAssemblies/UnityEngine.UI.xml
Library/UnityAssemblies/UnityEngine.UIAutomation.dll
Library/UnityAssemblies/UnityEngine.UIAutomation.xml
Library/UnityAssemblies/UnityEngine.UIElementsModule.dll
Library/UnityAssemblies/UnityEngine.UIElementsModule.xml
Library/UnityAssemblies/UnityEngine.UIModule.dll
Library/UnityAssemblies/UnityEngine.UIModule.xml
Library/UnityAssemblies/UnityEngine.UNETModule.dll
Library/UnityAssemblies/UnityEngine.UNETModule.xml
Library/UnityAssemblies/UnityEngine.UnityAnalyticsModule.dll
Library/UnityAssemblies/UnityEngine.UnityAnalyticsModule.xml
Library/UnityAssemblies/UnityEngine.UnityConnectModule.dll
Library/UnityAssemblies/UnityEngine.UnityConnectModule.xml
Library/UnityAssemblies/UnityEngine.UnityWebRequestAudioModule.dll
Library/UnityAssemblies/UnityEngine.UnityWebRequestAudioModule.xml
Library/UnityAssemblies/UnityEngine.UnityWebRequestModule.dll
Library/UnityAssemblies/UnityEngine.UnityWebRequestModule.xml
Library/UnityAssemblies/UnityEngine.UnityWebRequestTextureModule.dll
Library/UnityAssemblies/UnityEngine.UnityWebRequestTextureModule.xml
Library/UnityAssemblies/UnityEngine.UnityWebRequestWWWModule.dll
Library/UnityAssemblies/UnityEngine.UnityWebRequestWWWModule.xml
Library/UnityAssemblies/UnityEngine.VRModule.dll
Library/UnityAssemblies/UnityEngine.VRModule.xml
Library/UnityAssemblies/UnityEngine.VehiclesModule.dll
Library/UnityAssemblies/UnityEngine.VehiclesModule.xml
Library/UnityAssemblies/UnityEngine.VideoModule.dll
Library/UnityAssemblies/UnityEngine.VideoModule.xml
Library/UnityAssemblies/UnityEngine.WebModule.dll
Library/UnityAssemblies/UnityEngine.WebModule.xml
Library/UnityAssemblies/UnityEngine.WindModule.dll
Library/UnityAssemblies/UnityEngine.WindModule.xml
Library/UnityAssemblies/UnityEngine.dll
Library/UnityAssemblies/UnityEngine.xml
Library/UnityAssemblies/nunit.framework.dll
Library/UnityAssemblies/nunit.framework.xml
Library/UnityAssemblies/version.txt
Library/
